<div class="ui placeholder">
  <div class="image header">
    <div class="line">
      <img src="https://picsum.photos/100/100" alt="">
    </div>
    <div class="line"></div>
  </div>
  <div class="paragraph">
    <div class="line">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis non alias quia ipsum officia libero!</p>
    </div>
    <div class="line">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis non alias quia ipsum officia libero!</p>

    </div>
    <div class="line">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis non alias quia ipsum officia libero!</p>

    </div>
    <div class="line">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis non alias quia ipsum officia libero!</p>

    </div>
    <div class="line">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis non alias quia ipsum officia libero!</p>

    </div>
    <div class="line">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis non alias quia ipsum officia libero!</p>

    </div>
    <div class="line">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis non alias quia ipsum officia libero!</p>

    </div>
    <div class="line">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis non alias quia ipsum officia libero!</p>

    </div>
    <div class="line">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis non alias quia ipsum officia libero!</p>

    </div>
  </div>
</div>
